@using gr8Match.Models
@model ProfileIndexViewModel
@{
    ViewBag.Title = "Mina Vänner";
}

@Html.Partial("NewFriendRequests")

    <table class="table">
        <h2>Här är dina vänner:</h2>
        @if (Model.Users.Count == 0)
        {
            <tr>
                <td>Du har ju inga vänner :'(</td>
            </tr>
        }
        else
        {
            foreach (var friend in Model.Users)
            {
    <tr>
        <td>
            @if (friend.ProfileImage == null)
            {<img src="~/Images/defaultImg.jpg" width="150" height="150" />}

            else
            {<img src="@Url.Content(friend.ProfileImage)" width="150" height="150" />}
        </td>
        <td>@friend.FirstName </td>
        <td> @friend.LastName</td>
        <td> @friend.LastName</td>
        <td> @Html.ActionLink("Visa Profil", "OtherProfile", "Profile", routeValues: new { friend.Id }, htmlAttributes: null)</td>

    </tr>
            }
        }
    </table>
<hr />
