@model gr8Match.Models.MyProfileViewModel
    



    @{
        ViewBag.Title = "Min profil";
        
        
    }


    <div>
        @if (Model.MyUser.ProfileImage == null)
        {<img src="~/Images/defaultImg.jpg" width="150" height="150" />}

        else
        {<img src="@Url.Content(Model.MyUser.ProfileImage)" width="150" height="150" />}

        @Html.ActionLink("Byt profilbil", "Index", "Image")
        @Html.ActionLink("Ändra profil", "EditProfile", "Profile", new {id = Model.MyUser.Id}, null)
        @if (Model.MyUser.Active == true)
        {
            @Html.ActionLink("Inaktivera konto", "InactivateAccount", "Profile")
        }
        else
        {
            @Html.ActionLink("Aktivera konto", "ActivateAccount", "Profile")
        }
    </div>
    
<div>
    <table class="table">

        <tr>
            <td>
                @Model.MyUser.FirstName

            </td>
            <td>
                @Model.MyUser.LastName
            </td>
            <td>
                @{int age = new DateTime(DateTime.Now.Subtract(Model.MyUser.DateOfBirth).Ticks).Year - 1;}
                @age år
            </td>

        </tr>

    </table>
</div>

<div>

    Mina Intressen

    <table class="table">
       
        @foreach (var i in Model.MyInterests)
        {
            <tr>
                <td>
                    @i
                </td>
            </tr>
        }
    </table>
</div>

<div>
    Mina Meddelande

    <table class="table">
        
        @foreach (var p in Model.MyPosts)
        {
            <tr>
                <td>
                    @p.Text
                </td>
                <td>
                    @p.WrittenBy
                </td>
            </tr>

        }
    </table>

</div>