@model gr8Match.Models.MyProfileViewModel
@using gr8Match.Controllers

@{
    ViewBag.Title = "Min profil";
}

<script src="~/Scripts/ConfirmDelete.js"></script>
<div class="row">
    <div class="col-md-3">
        @if (Model.MyUser.ProfileImage == null)
        {<img src="~/Images/defaultImg.jpg" width="150" height="150" />}

        else
        {<img src="@Url.Content(Model.MyUser.ProfileImage)" width="150" height="150" />}
    </div>
    <div class="col-md-6">
        <h2>@Model.MyUser.FirstName @Model.MyUser.LastName</h2>
        @{int age = new DateTime(DateTime.Now.Subtract(Model.MyUser.DateOfBirth).Ticks).Year - 1;}
        <h5>@age år</h5>
    </div>
    <div class="col-md-3">
        <br />
        <ul>
            <li>@Html.ActionLink("Byt profilbil", "Index", "Image")</li>
            <li>@Html.ActionLink("Ändra profil", "EditProfile", "Profile", new { id = Model.MyUser.Id }, null)</li>
            @if (Model.MyUser.Active == true)
            {
                <li>@Html.ActionLink("Inaktivera konto", "InactivateAccount", "Profile")</li>
            }
            else
            {
                <li>@Html.ActionLink("Aktivera konto", "ActivateAccount", "Profile")</li>
            }
            <li>@Html.ActionLink("Ladda ner profil som XML", "SaveAsXML", "Profile")</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Mina senaste besök</h3>
        <hr />
        <div class="visitor">
            <input type="hidden" id="myId" value=@Model.MyUser.Id />
        </div>
    </div>
    <div class="col-md-6">
        <h3>Mina Intressen</h3>
        <hr />
        @foreach (var i in Model.MyInterests)
        {
            <h5> @i </h5>
        }

        <br />
        <p>
            @Html.ActionLink("Lägg till intressen", "AddInterests", "Profile")
        </p>
        <p>
            @Html.ActionLink("Ta bort intressen", "DeleteInterest", "Profile")
        </p>
    </div>
</div>
<div>
    <h3>Mina Meddelande</h3>

    @foreach (var p in Model.MyPosts)
    { int id = p.WrittenBy; 
    <hr />
    <div class="row">
        <div class="col-md-8">
            <p>Skrivet av @Html.ActionLink(@HelpController.WhoWroteTheMessage(p.WrittenBy), "OtherProfile", "Profile", routeValues: new { id }, htmlAttributes: null) den @p.Datum</p>
        </div>
        <div class="col-md-4">
            <input type="button" class="btn btn-default" id="btnpopu" value="Ta bort inlägg" onclick="showModal();" />
            <div id="confirmModal" class="modal">
                <div class="modal-content">
                    <p>Vill du verkligen ta bort detta inlägget?</p>
                    @Html.ActionLink("Ta bort", "DeletePost", "Profile", routeValues: new { p.Id }, htmlAttributes: null)
                    @Html.ActionLink("Ångra", "MyProfile", "Profile")
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @p.Text
        </div>
    </div>
    }
</div>

<script src="~/Scripts/visitor.js"></script>