@model gr8Match.Models.MyProfileViewModel




@{
    ViewBag.Title = "Min profil";


}

    <script src="~/Scripts/ConfirmDelete.js"></script>

    <div>
        @if (Model.MyUser.ProfileImage == null)
        {<img src="~/Images/defaultImg.jpg" width="150" height="150" />}

        else
        {<img src="@Url.Content(Model.MyUser.ProfileImage)" width="150" height="150" />}

        @Html.ActionLink("Byt profilbil", "Index", "Image")
        @Html.ActionLink("Ändra profil", "EditProfile", "Profile", new { id = Model.MyUser.Id }, null)
        @if (Model.MyUser.Active == true)
        {
            @Html.ActionLink("Inaktivera konto", "InactivateAccount", "Profile")
        }
        else
        {
            @Html.ActionLink("Aktivera konto", "ActivateAccount", "Profile")
        }
        @Html.ActionLink("Ladda ner profil som XML", "SaveAsXML", "Profile")
    </div>

<div>
    <table class="table">

        <tr>
            <td>
                @Model.MyUser.FirstName

            </td>
            <td>
                @Model.MyUser.LastName
            </td>
            <td>
                @{int age = new DateTime(DateTime.Now.Subtract(Model.MyUser.DateOfBirth).Ticks).Year - 1;}
                @age år
            </td>

        </tr>

    </table>
</div>
<div>
    <hr />
    <h3>Mina senaste besök</h3>
    <div class="visitor">
        <input type="hidden" id="myId" value=@Model.MyUser.Id />

    </div>
    
</div>
<div>

    Mina Intressen  @Html.ActionLink("Lägg till intressen", "AddInterests", "Profile") @Html.ActionLink("Ta bort intressen", "DeleteInterest", "Profile")

    <table class="table">

        @foreach (var i in Model.MyInterests)
        {
            <tr>
                <td>
                    @i
                </td>

            </tr>
        }
    </table>
</div>

<div>
    Mina Meddelande

    <table class="table">

        @foreach (var p in Model.MyPosts)
        {
            <tr>
                <td>
                    @p.Text
                </td>
                <td>
                    @p.WrittenBy
                </td>
                <td>
                    <input type="button" id="btnpopu" value="Ta bort inlägg" onclick="showModal();" />
                    <div id="confirmModal" class="modal">
                        <div class="modal-content">
                            <p>Vill du verkligen ta bort detta inlägget?</p>
                            @Html.ActionLink("Ta bort", "DeletePost", "Profile", routeValues: new { p.Id }, htmlAttributes: null)
                            @Html.ActionLink("Ångra", "MyProfile", "Profile")
                        </div>
                    </div>

                </td>
            </tr>

        }
    </table>

</div>

<script src="~/Scripts/visitor.js"></script>