@using gr8Match.Models
@model ProfileIndexViewModel

    <table class="table">
        <h2>Nya vänförfrågningar:</h2>

            @if (Model.FriendsRequests.Count == 0)
            {
                <tr>
                    <td>Du är opopulär!</td>
                </tr>
            }
            else
            { 
                foreach (var friend in Model.FriendsRequests)
                {
    <tr>
        <td>
            @if (friend.ProfileImage == null)
            {<img src="~/Images/defaultImg.jpg" width="150" height="150" />}
            else
            {<img src="@Url.Content(friend.ProfileImage)" width="150" height="150" />}
        </td>
        <td>@friend.FirstName</td>
       
        <td>@friend.LastName</td>
        
        <td>@Html.ActionLink("Visa Profil", "OtherProfile", "Profile", routeValues: new { friend.Id }, htmlAttributes: null)</td>
        
        <td>@Html.ActionLink("Acceptera förfrågan", "ConfirmFrinedRequest", "Profile", routeValues: new { friend.Id }, htmlAttributes: null)</td>
       
        <td>@Html.ActionLink("Avböj förfrågan", "DenyFrinedRequest", "Profile", routeValues: new { friend.Id }, htmlAttributes: null)</td>
    </tr>
                }
            }
    </table>
<hr />