@model gr8Match.Models.OtherProfileViewModel
@using gr8Match.Controllers
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = Model.OtherUser.FirstName + " Profil";
    ViewBag.Id = Model.OtherUser.Id;
    ViewBag.MyId = HelpController.ThisUser(User.Identity.GetUserId());

}

<div class="row">
    <div class="col-md-3">
        @if (Model.OtherUser.ProfileImage == null)
        {<img src="~/Images/defaultImg.jpg" width="150" height="150" />}

        else
        {<img src="@Url.Content(Model.OtherUser.ProfileImage)" width="150" height="150" />}
    </div>

    <div class="col-md-6">
        <h2>@Model.OtherUser.FirstName @Model.OtherUser.LastName</h2>
        @{int age = new DateTime(DateTime.Now.Subtract(Model.OtherUser.DateOfBirth).Ticks).Year - 1;}
        <h4>@age år</h4>
    </div>

    <div class="col-md-3">
        <br />
        <ul>
            <li>@Html.ActionLink("Passar vi ihop?", "MatchControl", "Profile", routeValues: new { @Model.OtherUser.Id }, htmlAttributes: null)</li>
            @if (Model.FriendControl > 0)
            {

            }
            else if (Model.FriendRequestControl > 0)
            {
                <li><p>Det finns en vänförfrågan som inte är accepterad</p></li>
            }
            else
            {
                <li>@Html.ActionLink("Skicka vänförfrågan", "FriendRequest", "Profile", routeValues: new { @Model.OtherUser.Id }, htmlAttributes: null)</li>
            }

        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Intressen:</h3>
        <hr />
        <ul>
            @foreach (var i in Model.OtherUserInterests)
            {
                <li>@i</li>
            }
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Skicka meddelanden:</h3>
        <hr />
        <form class="message-form">
            <input type="hidden" id="user-id" value="@ViewBag.Id" />
            <input type="hidden" id="user-myid" value="@ViewBag.MyId" />
            <textarea class="input-lg" id="new-message"></textarea>
            <br />
            <br />
            <button type="button" class="btn btn-default" id="send-button"><img src="~/Images/icons8-cat_footprint_filled.png" /></button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Meddelanden:</h3>
        <div class="message-list" id="messagelist"></div>
    </div>
</div>

@Scripts.Render("~/Scripts/posts.js")
