@model gr8Match.Models.OtherProfileViewModel


@{
    ViewBag.Title = Model.FirstName + " Profil";
}


<div>
    <img src="@Url.Content(Model.MyImage.ImgPath)" width="250" height="250" />
</div>

<div>
    <table class="table">

        <tr>
            <td>
                @Model.FirstName

            </td>
            <td>
                @Model.LastName
            </td>
            <td>
                @Model.Age
            </td>

        </tr>

    </table>
</div>

<div>

    Mina Intressen

    <table class="table">

        @foreach (var i in Model.MyInterests)
        {
            <tr>
                <td>
                    @i
                </td>
            </tr>
        }
    </table>
</div>

<div>
    Mina Meddelande

    <table class="table">

        @foreach (var p in Model.MyPosts)
        {
            <tr>
                <td>
                    @p.Text
                </td>
                <td>
                    @p.WrittenBy
                </td>
            </tr>

        }
    </table>

</div>