@{
    ViewBag.Title = "Startsida";
}
@using Microsoft.AspNet.Identity
@using gr8Match.Models
@model UserViewModel

<div id="homepageJumbotron" class="jumbotron">
    <h1>
        Välkommen @if (Request.IsAuthenticated)
        {@Model.user.FirstName} till Gr8 Match!
    </h1>

    <p class="lead">Dejtingsidan som garanterar en Great Match för din katt! </p>

</div>

@if (Request.IsAuthenticated)
{

}
else
{
    <div class="row">
        <div class="col-md-8">
            <div class="catBox">
                <h2>Träffa misse right!</h2>
                <p>
                    Är din katt på jakt efter miss right? Registrera er idag och får kontakt med tusentals potentiella mjaumates! <br />
                    Vi på great match garanterar att din katt inte kommer bli missenöjd.
                </p>
                <p class="btn btn-default">@Html.ActionLink("Registrera dig", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) &raquo;</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="catBox">
                <h2>Redan registrerad?</h2>
                <p>
                    Om du redan valt att registrera dig är
                    det bara att logga in för att träffa coola katter!
                </p>
                <p class="btn btn-default ">@Html.ActionLink("Logga in", "Login", "Account") &raquo;</p>
            </div>
        </div>
    </div>
}

<h1 align="center">Några av våra användare:</h1>

<div class="row">

    @foreach (var item in Model.Profiles)
    {
        <div class="col-md-2">
            <div class="catBox2">

                <h3>
                    @if (item.ProfileImage == null)
                    {<img src="~/Images/defaultImg.jpg" width="150" height="150" />}

                    else
                    {<img src="@Url.Content(item.ProfileImage)" width="150" height="150" />}
                </h3>
          
                <br />
                <h5>@item.FirstName @item.LastName</h5>
                <p>
                    Ålder: @{int age = new DateTime(DateTime.Now.Subtract(item.DateOfBirth).Ticks).Year - 1;}
                    @age
                </p>

                @if (Request.IsAuthenticated)
                {
                    <p class="btn btn-default">
                        @Html.ActionLink("Visa Profil", "OtherProfile", "Profile", routeValues: new { item.Id }, htmlAttributes: null)
                    </p>
                }
                else
                {
                    <p class="btn btn-default">
                        @Html.ActionLink("Kontakta", "Login", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })&raquo;
                    </p>
                }

            </div>
        </div>

    }
</div>

