@{
    ViewBag.Title = "Startsida";
}
@using Microsoft.AspNet.Identity

<div id="homepageJumbotron" class="jumbotron">
    <h1>Välkommen till Gr8 Match!</h1>
    <p class="lead">Dejtingsidan som garanterar en Great Match för din katt! </p>

</div>

@if (Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-8">
            <div class="catBox">
                <h2>Välkommen @User.Identity.GetUserName()!</h2>
                <p class="btn btn-default"> @Html.ActionLink("Ändra uppgifter", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) &raquo;</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="catBox">
                <h2>Vill du avregistrera dig?</h2>
                <p>Ja du kan ju försöka med knappen här under....</p>
                <p class="btn btn-default">@Html.ActionLink("Avregistrera konto", "", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) &raquo;</p>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <div class="catBox">
                <h2>Träffa misse right!</h2>
                <p>
                    Är din katt på jakt efter miss right? Registrera er idag och får kontakt med tusentals potentiella mjaumates! <br />
                    Vi på great match garanterar att din katt inte kommer bli missenöjd.
                </p>
                <p class="btn btn-default">@Html.ActionLink("Registrera dig", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) &raquo;</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="catBox">
                <h2>Redan registrerad?</h2>
                <p>
                    Om du redan valt att registrera dig är
                    det bara att logga in för att träffa coola katter!
                </p>
                <p class="btn btn-default ">@Html.ActionLink("Logga in", "Login", "Account") &raquo;</p>
            </div>
        </div>
    </div>
}

<br />
<br />
<br />
<br />

<h1>Några av våra användare:</h1>

<div class="row">
    <div class="col-md-2">
        <div class="catBox">
            <br />
            <br />
            <h3>Bild</h3>
            <br />
            <br />
            <h4>Namn</h4>
            <p>Ålder</p>

            @if (Request.IsAuthenticated)
            {
                <p class="btn btn-default">
                    @Html.ActionLink("Kontakta", "UserPage", "Home") &raquo;
                </p>
            }
            else
            {
                <p class="btn btn-default">
                    @Html.ActionLink("Kontakta", "Login", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })&raquo;
                </p>
            }
        </div>
    </div>
    <div class="col-md-2">
        <div class="catBox">
            <br />
            <br />
            <h3>Bild</h3>
            <br />
            <br />
            <h4>Namn</h4>
            <p>Ålder</p>

            @if (Request.IsAuthenticated)
            {
                <p class="btn btn-default">
                    @Html.ActionLink("Kontakta", "UserPage", "Home") &raquo;
                </p>
            }
            else
            {
                <p class="btn btn-default">
                    @Html.ActionLink("Kontakta", "Login", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })&raquo;
                </p>
            }
        </div>
    </div>
    <div class="col-md-2">
        <div class="catBox">
            <br />
            <br />
            <h3>Bild</h3>
            <br />
            <br />
            <h4>Namn</h4>
            <p>Ålder</p>

            @if (Request.IsAuthenticated)
            {
                <p class="btn btn-default">
                    @Html.ActionLink("Kontakta", "UserPage", "Home") &raquo;
                </p>
            }
            else
            {
                <p class="btn btn-default">
                    @Html.ActionLink("Kontakta", "Login", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })&raquo;
                </p>
            }
        </div>
    </div>
    <div class="col-md-2">
        <div class="catBox">
            <br />
            <br />
            <h3>Bild</h3>
            <br />
            <br />
            <h4>Namn</h4>
            <p>Ålder</p>

            @if (Request.IsAuthenticated)
            {
                <p class="btn btn-default">
                    @Html.ActionLink("Kontakta", "UserPage", "Home") &raquo;
                </p>
            }
            else
            {
                <p class="btn btn-default">
                    @Html.ActionLink("Kontakta", "Login", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })&raquo;
                </p>
            }
        </div>
    </div>
    <div class="col-md-2">
        <div class="catBox">
            <br />
            <br />
            <h3>Bild</h3>
            <br />
            <br />
            <h4>Namn</h4>
            <p>Ålder</p>

            @if (Request.IsAuthenticated)
            {
                <p class="btn btn-default">
                    @Html.ActionLink("Kontakta", "UserPage", "Home") &raquo;
                </p>
            }
            else
            {
                <p class="btn btn-default">
                    @Html.ActionLink("Kontakta", "Login", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })&raquo;
                </p>
            }
        </div>
    </div>
    <div class="col-md-2">
        <div class="catBox">
            <br />
            <br />
            <h3>Bild</h3>
            <br />
            <br />
            <h4>Namn</h4>
            <p>Ålder</p>

            @if (Request.IsAuthenticated)
            {
                <p class="btn btn-default">
                    @Html.ActionLink("Kontakta", "UserPage", "Home") &raquo;
                </p>
            }
            else
            {
                <p class="btn btn-default">
                    @Html.ActionLink("Kontakta", "Login", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })&raquo;
                </p>
            }
        </div>
    </div>
</div>